<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
	<meta charset="utf-8"> 
    <link href="css/estilos.css" rel="stylesheet" media="screen">
    
	<title>Noticias limpias</title>
	<script src="src/lib/angular.min.js"></script>
    
    <script src="src/app.js"></script>
    <script src="src/controllers/NoticiasController.js"></script>
    <script src="src/controllers/NoticiasDetailsController.js"></script>
   
</head>

<body>
	<div ng-view></div>
</body>
</html>
