<!-- <a href="#/noticias/{{obj.id}}">
	IR
</a>
<h4>
	<a href="#/noticias/{{obj.id}}">{{obj.titulo}}</a>
</h4>
<p>{{obj.resumen}}</p> -->

<div class="column_9 margin-bottom">
    <h2>
    	<a href="#/noticias/{{obj.id}}" class="text bold color theme">{{obj.titulo}}</a>
    </h2>
</div>
<div class="column_2 margin-bottom">
	<a href="#/noticias/{{obj.id}}" class="tip-right" data-tip="{{obj.titulo}}">
		<img src="{{obj.img}}" class="responsive">
	</a>
</div>
<p class="column_6 align text justify">
	{{obj.resumen}}
	<br>
	<br>
</p>




